body {
  padding: 0vh;
  margin: 0vh;
}

.App {
  text-align: center;
}

.logo {
  height: 32px;
  margin: 16px;
  size: 10vh;
}

.app-header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
